body,
        html {
            color: #fff;
            text-align: center;
            background: white;
            font-family: Helvetica, sans-serif;
            margin: 0;
        }

        .grid-container {
            background: white;
            font-family: 'Rubik', sans-serif;
            padding: 10px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;


            grid-template-areas:
                "main";

        }

        .grid-item {
            color: #fff;
            background: skyblue;
            padding: 3.5em 1em;
            font-size: 1em;
            font-weight: 700;
            max-width: 600px;
        }

        .main {
            color: lighten(gray, 25%);
            background-color: lighten(skyblue, 60%);
            grid-area: main;
            padding: 0;
            width: unset;
            overflow-y: hidden;
        }

        .items {
            position: relative;
            width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            display: flex;
            transition: all 0.2s;
            transform: scale(0.98);
            will-change: transform;
            user-select: none;
            cursor: pointer;
        }

        .item {
            background: skyblue;
            min-height: 250px;
            min-width: 100%;
            margin-right: 1em;
        }

        .item img {
            padding: 10px;
            margin-left: -10px;
            max-width: 100%;
        }

        @media screen and (max-width: 500px) {
            .grid-container {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas:
                    "main";
            }
        }